

body{
	font-family:Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
}

.border-intro{
	border-bottom: 3px solid #ffc107;
}

/*----------NAVBAR-----------*/
.navbar{
	font-weight: 700; 
	font-size: 15px;
	letter-spacing: 2px;
	font-style: italic;
	background: rgb(0, 0, 0, 0.7) !important;
	border-bottom: 2px solid #ffc107;
}

.navbar-brand img{
	height: 32px;
}
.navbar-nav li{
	padding-right: 10px; 
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	padding-top: 12px;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #ffc107;
}


/* ----------------------------------home-section---------------------------- */
#homeSection{
	background: url(../img/man.jpg) no-repeat center top;
	background-size: cover;
	min-height: 400px;
}

.dark-overla{
	background: rgba(0, 0, 0, 0.6);
	height: 400px;
}

/*.home-inner{
	padding-top: 150px;
	padding-bottom: 50px;

}*/

.custom-border{
	border-top: 4px solid #ffc107; 
	border-bottom: 4px solid #ffc107; 
}
.fas{
	background: #fff;
	color: #ffc107;
	padding: 4px;
	font-size: 20px;
	border-radius: 5px;
}
.card-form{
	opacity: 0.8;
}


/* ____________________RESUME SECTION_________________________ */

.bg-resume{
	background-color: #c3e0c6aa;
}


/* ____________________SKILL SECTION_________________________ */


.bg-contact{
	    background-color: #f5f9fd!important;
}
.card-border{
	    border: 1px solid rgba(255, 193, 7, 0.4) !important;
}
.form-control{
	    border: 1px solid rgba(255, 193, 7, 0.4) !important;
}
/* ____________________SKILL SECTION_________________________ */
.bg-footer{
	background: #4a8850c9;
}

.link-color{
	color: #ffc107 !important;
}

.socials{
      overflow: hidden;
    }
    .socials ul{
      margin: 0;
      padding: 0;
    }
    .socials ul li{
      list-style-type: none;
      float: left;
    }
    .socials ul li a{
      font-size: 20px;
      padding: 10px;
      text-align: center;
    }